<h1> Good Morning</h1>
<p> Heres the current information on superheroes today</p>

<%= form_tag('/superheroes', method: "get") do %>
  <h4>Find a Superhero by name: <%= text_field_tag :search %></h4>
  <%= submit_tag "search" %>
<% end %>

<h3>Superhero Data</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Alias Supposedely</th>
    <th> Superpower</th>
    <th> Location.....maybe</th>
  </tr>
<% @superheroes.each do |superhero| %>
  <tr>
    <td><%= superhero.name %></td>
    <td><%= superhero.alias %></td>
    <td><%= superhero.superpowers %></td>
    <td><%= superhero.location %></td>
  </tr>
<% end %>
</table>
